@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  align-content: center;
  font-family: 'Inconsolata', monospace;
}

header {
  background-color: #7a071a;
  margin-bottom: 50px;
  text-align: center;
}

header h1 {
  color: white;
}

#submit {
  width: 500px;
  height: 50px;
  font-size: 1rem;
  text-decoration: none;
  border: none;
  background-color: lightblue;

}

#submit:active {
  background-color: white;
}

#chatbox {
  overflow: auto;
  display: block;
  font-size: 20px;
  width: 497px;
  height: 612px;
  background-color: white;
  position: relative;
  overflow: auto;
}

#message {
  height: 50px;
  width: 497px;
  font-size: 1.5rem;
  padding: 0;
}

#isTyping {
  position: absolute;
  bottom: 0;
  left: 0;
}

p {
  margin: 0;
  margin-left: 5px;
  padding: 0;
}

p:after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 80%; /* Change this to whatever width you want. */
  /* padding-top: 20px; */ /* This creates some space between the element and the border. */
  border-bottom: 1px solid silver; /* This creates the border. Replace black with whatever color you want. */
  opacity: 0.5;
  margin-top: 5px;
  margin-bottom: 5px;
}

#user {
  width: 495px;
  height: 50px;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

#chatContainer {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* justify-content: space-around; */
}